.navbar {
  background-color: #2C4076;
  * {
    :hover,
    :active {
      text-decoration: none;
    }
  }
  a {
    color: #96A3C6;
  }
  .active {
    color: #0B1C4A;
  }
  .navbar-brand a {
    color: #96A3C6;
  }
  .dropdown-item:active {
    color: #2C4076;
    background-color: #fff;
  }
}
